#!/usr/bin/make -f

export PYBUILD_NAME=liteshort
export PYBUILD_SYSTEM=distutils
export PYBUILD_DISABLE=configure,test

PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0
TARBALL = liteshort-$(VERSION).tar.gz
URL = https://github.com/132ikl/liteshort

%:
	mkdir -p debian/liteshort/etc/liteshort/
	cp liteshort/setup/liteshort.ini debian/liteshort/etc/liteshort/
	dh $@ --with python3 --buildsystem=pybuild -D liteshort/
	dh_installsystemd
